body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#mainWrapper{
  display: flex;
  background: rgb(0, 0, 0);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#question{
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: max-content;
  height: max-content;
  border: solid 4px rgb(127, 127, 127);
  cursor: pointer;
}

.submit{
  background: grey;
  padding: .5vh;
  width: max-content;
  border-radius: 5px;
  cursor: pointer;
}

.greyedOut{
  filter: blur(1px);
  pointer-events: none;
}

.field{
  margin: 5px;
  padding:2px;
  background: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  height: max-content;
  font-size: 3vh;
  user-select: none;
}
