body {
  display: flex;
  margin: 0;
  padding: 255;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

#welcomeScreen{
  position: fixed;
  top: 14vh;
  width: 50vh;
  height: 50vh;
  padding: 1vh;
  overflow-y: auto;
  /* border: solid 1px green; */
  font-size: 1.9vh;
  user-select: none;
  color: rgb(0,255,0);
  text-shadow: 0 0 3px rgb(0,255,0);
}

#monitor{
  display: flex;
  background: url(../assets/images/monitor.png) no-repeat center center;
  background-size: contain;
  width: 60%;
  height: 100vh;
  justify-content: center;
}
#textWrapper{
  position: fixed;
  top: 14vh;
  width: 50vh;
  height: 50vh;
  padding: 1vh;
  overflow-y: scroll;
  /* border: solid 1px green; */
  font-size: 1.9vh;
  user-select: none;
  visibility: hidden;
  color: rgb(0,255,0);
}

#welcomeScreen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

::-webkit-scrollbar {
    background: rgba(0,255,0,.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(0,255,0, 1);
}

#startButton{
  border: solid .1vh rgb(0,255,0);
  padding: .5vh;
  width: min-content;
}
#startButton:hover{
  cursor: pointer;
  text-shadow: 0 0 10px rgb(0,255,0);
  box-shadow: 0 0 10px rgb(0,255,0);

}

.redacted{
  background: rgba(0, 255, 0, 1);
  color: transparent;
}

.revealed:hover{
  cursor: pointer;
}

.revealed{
  background: transparent;
  color: rgba(0, 255, 0, 1);
  animation: flash infinite .1s;
}
.secret{
}

.secretFound{
  background: rgba(0, 255, 0, 1);
  color: rgba(0, 0, 0, 1);
  padding: .2vh;
}

@keyframes flash {
  from {color: rgba(0, 255, 0, 1);}
  to { color: rgba(0, 255, 0, 0);}
}
