/* 1-0 */
#k0{
  grid-row: 1/3;
  grid-column: 1/3;
}
#k1{
  grid-row: 1/3;

  grid-column: 3/5;
}
#k2{
  grid-row: 1/3;
  grid-column: 5/7;
}
#k3{
  grid-row: 1/3;
  grid-column: 7/9;
}
#k4{
  grid-row: 1/3;
  grid-column: 9/11;
}
#k5{
  grid-row: 1/3;
  grid-column: 11/13;
}
#k6{
  grid-row: 1/3;
  grid-column: 13/15;
}
#k7{
  grid-row: 1/3;
  grid-column: 15/17;
}
#k8{
  grid-row: 1/3;
  grid-column: 17/19;
}
#k9{
  grid-row: 1/3;
  grid-column: 19/21;
}
/* Q-P */
#k10{
  grid-row: 3/5;
  grid-column: 2/4;
}
#k11{
  grid-row: 3/5;
  grid-column: 4/6;
}
#k12{
  grid-row: 3/5;
  grid-column: 6/8;
}
#k13{
  grid-row: 3/5;
  grid-column: 8/10;
}
#k14{
  grid-row: 3/5;
  grid-column: 10/12;
}
#k15{
  grid-row: 3/5;
  grid-column: 12/14;
}
#k16{
  grid-row: 3/5;
  grid-column: 14/16;
}
#k17{
  grid-row: 3/5;
  grid-column: 16/18;
}
#k18{
  grid-row: 3/5;
  grid-column: 18/20;
}
#k19{
  grid-row: 3/5;
  grid-column: 20/22;
}
/* A-L*/
#k20{
  grid-row: 5/7;
  grid-column: 3/5;
}
#k21{
  grid-row: 5/7;
  grid-column: 5/7;
}
#k22{
  grid-row: 5/7;
  grid-column: 7/9;
}
#k23{
  grid-row: 5/7;
  grid-column: 9/11;
}
#k24{
  grid-row: 5/7;
  grid-column: 11/13;
}
#k25{
  grid-row: 5/7;
  grid-column: 13/15;
}
#k26{
  grid-row: 5/7;
  grid-column: 15/17;
}
#k27{
  grid-row: 5/7;
  grid-column: 17/19;
}
#k28{
  grid-row: 5/7;
  grid-column: 19/21;
}
/* Z-M */
#k29{
  grid-row: 7/9;
  grid-column: 4/6;
}
#k30{
  grid-row: 7/9;
  grid-column: 6/8;
}
#k31{
  grid-row: 7/9;
  grid-column: 8/10;
}
#k32{
  grid-row: 7/9;
  grid-column: 10/12;
}
#k33{
  grid-row: 7/9;
  grid-column: 12/14;
}
#k34{
  grid-row: 7/9;
  grid-column: 14/16;
}
#k35{
  grid-row: 7/9;
  grid-column: 16/18;
}
