body {
  margin: 0;
  padding: 255;
  box-sizing: border-box;
  font-family:  courier;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  cursor: none;
  user-select: none;
  /* background: url(../assets/images/subway1.jpg) no-repeat bottom left;
  background-size: cover; */
}

#canvas{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 90vh;
  /* background: rgb(10, 10, 10); */
  background: linear-gradient(to top, rgb(10, 10, 10), rgb(20, 20, 20));
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow:
  1px 1px rgb(50, 50, 50),
  2px 2px rgb(75, 75, 75),
  3px 3px rgb(100, 100, 100),
  4px 4px rgb(125, 125, 125),
  5px 5px rgb(125, 125, 125),
  6px 6px rgb(125, 125, 125),
  7px 7px rgb(125, 125, 125),
  8px 8px rgb(125, 125, 125);
}

#screenWrapper{
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-rows: .5fr 1fr .25fr .25fr;
  /* justify-content: space-between; */
  width: 90%;
  height: 40%;
  /* height: 40vh; */
  margin-bottom: 5vh;
  padding: 2%;
  /* background: rgb(127, 127, 127); */
  background: linear-gradient(to right, rgba(127, 127, 127, .6), rgba(100, 100, 100, .6)),
  rgba(235, 246, 255, 1);
  border-radius: 15px;
  border: solid 2px black;
  box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 1);
}

#typeMe{
  width: 90%;
  font-size: 1em;
  text-shadow: .5px .5px 2.5px rgba(0, 0, 0, .9);
  color: rgba(0, 0, 0, .6);
}
#userInput{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 100%;
}

#lettersToType{
  width: 90%;
  font-size: 1em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .9)
  color: rgba(0, 0, 0, .6);
}
#score{
  width: 90%;
  font-size: 1em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .9)
  color: rgba(0, 0, 0, .6);
  bottom: 0;
}

.letter{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: rgba(0, 0, 0, .6);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
  min-width: 2vh;
  min-height: 4vh;
  border-radius: 5px;
}

.info{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1em;
  color: rgba(0, 0, 0, .6);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
  min-width: 2vh;
  min-height: 4vh;
  border-radius: 5px;
}

.flashingCursor{
  /* border: rgba(255,0,0); */
  animation: flash infinite 1s;
}

#keyboardWrapper{
  width: 85%;
  height: 25vh;
  grid-gap: 3%;
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: repeat(10, 3fr);
}
/* For individual key Id's, see the keys. */
.key{
  /* width:5vh;
  height: 5vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  min-width: 100%;
  max-height: 100%;
  background: rgb(200, 200, 175);
  border-radius: 5px;
  color: black;
  border: solid 1px rgb(220, 220, 220);
  box-shadow: 1px 1px rgb(255,255,255), 2px 2px rgb(200,200,200), 3px 3px rgb(150,150,150), 4px 4px rgb(100,100,100);
  /* perspective-origin: left;
  perspective: -100px; */
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


@keyframes flash {
  from {opacity: 1;}
  to {opacity: 0;}
}
