body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100vh;
  justify-content: center;
  align-items: center;
  user-select: none;
}

button{
  margin-top: 5vh;
}

#canvas{
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  min-width: 75vh;
  height: 75vh;
  border: solid 1px green;
  padding: .5vh;
  cursor:url(../assets/images/cursor.png), auto;
}

.pixel{
  transform: rotate(0deg);
  background: rgb(255,255,255);
  width: 100%;
  height: 100%;
}

#buttonWrapper{
  min-width: 75vh;
  height: 5vh;
  border-bottom: solid 1px green;
  border-left: solid 1px green;
  border-right: solid 1px green;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5vh;
}

#rainbow{
  background: url(../assets/images/rainbow.jpg) no-repeat center center;
  background-size: contain;
}

#red{
  background: rgb(255, 0, 0);
}
#green{
  background: rgb(0, 255, 0);
}
#blue{
  background: rgb(0, 0, 255);
}
#black{
  background: rgb(0, 0, 0);
}
#brown{
  background: rgba(150, 75, 0);
}
#yellow{
  background: rgba(255, 255, 0);
}
#erase{
  background: rgb(255, 255, 255);
  border: solid .1vh black;
}
#reset{
  background: url(../assets/images/trash.png) no-repeat center center;
  background-size: contain;
}
#print{
  background: url(../assets/images/print.png) no-repeat center center;
  background-size: contain;
}
.buttons{
  box-shadow: .25vh .25vh grey;
  margin: .25vh;
  width:10%;
  height: 100%
}

.buttons:hover{
  width:10.5%;
  height:105%;
}

.buttons:active{
  width: 9%;
  height: 90%;
}

.icon{
  box-shadow: .25vh .25vh grey;
  margin: .25vh;
  width:10%;
  height: 100%
}
